*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Gabarito", sans-serif;
    
}
.navbar{
    margin: auto;
    display: flex;
    justify-content:space-around ;
    align-items: center;
    
}
.navbar_s1 img{
    width: 180px;
    height: 100px;
}
.navbar_s2{
    display: flex;
    justify-content: center;
    font-size: 16px;
    gap: 20px;
    
}
.navbar_s2 a{
    text-decoration: none;
    color: black;
     font-weight: 600;
}
.navbar_s2 a:focus{
    
    color: black;
    padding: 10px;
    border-radius: 30px;
 
}
.one:focus{
    text-decoration: none;
    background-color: gainsboro;
}
.navbar_s3{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.navbar_s3 i{
    font-size: small;
    
}
.navbar_s3 input{
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 10px;
    font-size: medium;
}
.title{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
.tab{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    margin-top: 20px;
}
.tab_1,.tab_2,.tab_3,.tab_4,.tab_5,.tab_6 i{
    gap: 5px;
}
.tab a{
    color: black;
    font-size: 20px;
    text-decoration: none;
   
}
.tab a:focus{
    text-decoration-line: underline;
}
.search {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.search input {
    width: 60%;
    border: none;
    display: flex;
    justify-content: left;
    
}
.search button{
    width: 80px;
    padding: 10px;
    background-color:aquamarine ;
    color: black;
    border-radius: 30px;
    display: flex;
    justify-content: right;
}

.search input:focus {
    outline: none;
}
